Starfeeder/Temp/UnityLockfile
Starfeeder/Library/assetDatabase3
Starfeeder/Temp/__Backupscenes/0.backup
Starfeeder/Temp/UnityTempFile-b38b2b0a2bfa51441a160e0f09b80d22
Starfeeder/Library/shadercompiler-UnityShaderCompiler.exe0.log
Starfeeder/Library/shadercompiler-UnityShaderCompiler.exe0.log
Starfeeder/Library/EditorInstance.json
Starfeeder/Temp/__Backupscenes/0.backup
Starfeeder/Temp/__Backupscenes/0.backup
Starfeeder/Library/shadercompiler-UnityShaderCompiler.exe0.log
Starfeeder/Temp